name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # -------------------------
      # Checkout
      # -------------------------
      - name: Checkout repository
        uses: actions/checkout@v6

      # -------------------------
      # Rust
      # -------------------------
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - name: Run Rust tests
        run: cargo test --workspace --all-features

      # -------------------------
      # Python
      # -------------------------
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Create venv and install Python dependencies
        run: |
          uv venv
          uv pip install maturin
          uv pip install .[dev]

      - name: Build PyO3 extension
        run: |
          uv run maturin develop \
            --manifest-path python/Cargo.toml \
            --locked

      - name: Run pytest
        run: uv run pytest
